header{
	background: red;
	height: 70px;
	width: 100%;
}
article, aside{
	float: left;
	height: 300px;
	margin:0;
	padding: 0;

}
article{
	background: #ccc;
	width: 70%;
}
aside{
	background: #bbb;
	width: 30%;
}
footer{
	background: cyan;
	clear: both;
	height: 60px;
	width: 100%;
}
nav{
	background: gray;
	height: 30px;
	width: 100%;
}
ul{
	margin: 0;
	padding: 0;
	text-align: center;
}
ul li{
	list-style: none;
	display: inline-block;
}





